<!DOCTYPE html>
<html lang="en">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="static/styles.css">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediksi Kualitas Air</title>
</head>
<body>
    <div class="container contact-form">
        <div class="contact-image">
            <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact"/>
        </div>
        <form action="{{url_for('predict')}}" method="post">
            <h3>Prediksi Kualitas Air</h3>
           <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" name="pH" class="form-control" placeholder="pH Value (0 - 14)" value="pH" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="Hardness" class="form-control" placeholder="Hardness mg/l" value="Hardness" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="Solids" class="form-control" placeholder="Solids ppm" value="Solids" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="Chloramines" class="form-control" placeholder="Chloramines ppm" value="Chloramines" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="Sulfate" class="form-control" placeholder="Sulfate mg/l" value="Sulfate" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="Conductivity" class="form-control" placeholder="Conductivity" value="Conductivity" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="Organic_carbon" class="form-control" placeholder="Organic Carbon" value="Organic_carbon" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="Trihalomethanes" class="form-control" placeholder="Trihalomethanes in μg/L" value="Trihalomethanes" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="Turbidty" class="form-control" placeholder="Turbidty" value="Turbidty" />
                    </div>

                    <button type="submit" class="btn btn-primary btn-block btn-large" >
                    Predict
                    </button>
                </div>
                <div class="col-md-6">
                    <h3>
                        Hasil Prediksi :
                    </h3>
                    <h3>{{ prediction_text }}</h3>
                </div>
            </div>
        </form>
    </div>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>